<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ReactNativeDemo">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!--  -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" /> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="remove" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/rn"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <service
            android:name=".service.MyTaskService"
            android:enabled="true"
            android:exported="true"></service>

        <receiver
            android:name=".BroadcastReceiver.NetworkChangeReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.TencentMapActivity"
            android:label="@string/title_activity_tencent_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.AMAPLocationActivity" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a3a591bf69b05aad86f51d4b0bcdfe71" />
        <meta-data
            android:name="TencentMapSDK"
            android:value="5P7BZ-6WKWJ-WECF7-FX6DM-3R6OJ-RCBJV" />

        <activity android:name=".activity.PhotoSelectActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="Yullydong"
                    android:scheme="Yullydong" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AndroidToRNActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

        <service android:name="com.amap.api.location.APSService" />

    </application>

</manifest>